* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --color: #ffb71d;
    --colors: #285aff;
}

@font-face {
    font-family: "TitilliumWeb";
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    src: local("TitilliumWeb"), local("TitilliumWeb-SemiBold"),
        url("/public/fonts/TitilliumWeb-SemiBold.ttf") format("truetype");
}
@font-face {
    font-family: "CormorantGaramond";
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    src: local("CormorantGaramond"), local("CormorantGaramond"),
        url("/public/fonts/CormorantGaramond-Regular.ttf") format("truetype");
}

a {
    text-decoration: none;
}

p {
    max-width: 75ch;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.section {
    padding: 8rem 0;
}
.section-small {
    padding: 4rem 0;
}

.text-center {
    text-align: center;
}

.logo {
    width: 4rem;
    height: auto;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.screencap {
    transition: transform 0.2s;
    border-radius: 10px;
}

.screencap:hover {
    transform: scale(0.98);
}
